.result-container{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
}
.avatar-image{
    width: 31px;
    height: 31px;
}
.player-list{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
}
.player-score{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    border: solid 2px white;
}